<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Results and Stats shown here</h3>
  <button ion-button full (click)="questions()">Daily Checklist</button>
  <ion-card>
    <ion-card-header>
      Weekly Manic Chart
    </ion-card-header>
    <ion-card-content>
      <button ion-item detail-none *ngFor="let item of hist_man">
        {{item.date}}
        <div class="item-note" item-end>
          {{item.score}}
        </div>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Weekly Depressive Chart
    </ion-card-header>
    <ion-card-content>
      <button ion-item detail-none *ngFor="let item of hist_dep">
        {{item.date}}
        <div class="item-note" item-end>
          {{item.score}}
        </div>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
